<div class="mx-auto" style="width: 50%; padding-left: 15%">
    <form id="model">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="model" id="btnradio1" value="gpt-3.5-turbo-1106">
            <label class="btn btn-outline-dark" for="btnradio1"> GPT-3.5-Turbo </label>
          
            <input type="radio" class="btn-check" name="model" id="btnradio2" value="gpt-4-0613">
            <label class="btn btn-outline-dark" for="btnradio2"> GPT-4 </label>
          
            <input type="radio" class="btn-check" name="model" id="btnradio3" value="gpt-4-1106-preview" checked>
            <label class="btn btn-outline-dark" for="btnradio3"> GPT-4-Turbo </label>
        </div>
    </form>
</div>
